@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --color-button: #D8D8D8;
  --menu: #E00000;
  --black: black;
  --white: white;
}

* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--black);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Space Mono";
}

nav ul {
  display: flex;
  justify-content: space-between;
  gap: 43px;
}

#icons {
  cursor: pointer;
  display: none;
}

a,
a:visited {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 100; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.overlay form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
.overlay input {
  width: 263px;
  height: 40px;
}
.overlay textarea {
  width: 263px;
  height: 142px;
  resize: none;
}
.overlay button {
  padding: 8px 72px;
  outline: none;
  border: transparent;
  background-color: none;
  font-family: "Space Mono", monospace;
  font-weight: 400;
}
.overlay form[label] {
  height: 40px;
  width: 263px;
}
.overlay input {
  margin-bottom: 24px;
}
.overlay .form-group {
  margin-bottom: 24px;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 110;
  width: 597px;
  height: 769px;
  background-color: var(--white);
}
.overlay-content span.bg {
  background-image: url("../../../uploads/2023/06/contact.png");
  display: block;
  height: 107px;
  margin-bottom: 45px;
}

/* generic buttons transition noir*/
button {
  cursor: pointer;
}

.wrapper .wrapper-button {
  display: block;
  width: 106px;
  height: 38px;
  font-family: Space Mono;
  font-size: 14px;
  text-decoration: none;
  color: #333;
  border-left: 2px solid #000000;
  text-align: center;
  position: relative;
  transition: all 0.35s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper .wrapper-button span {
  position: relative;
  z-index: 2;
}

.wrapper .wrapper-button:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #000000;
  transition: all 0.35s;
}

.wrapper .wrapper-button:hover {
  color: #fff;
}

.wrapper .wrapper-button:hover:after {
  width: 100%;
}

footer ul {
  border-top: 1px solid #000000;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  gap: 86px;
  font-family: "Space Mono", monospace;
}

@media (max-width: 768px) {
  header {
    padding: 0 40px;
  }
  #icons {
    display: block;
  }
  #icons:before {
    content: "☰";
  }
  .active #icons:before {
    content: "✕";
  }
  nav ul {
    position: fixed;
    right: -100%;
    top: 10%;
    flex-direction: column;
    justify-content: center;
    background: red;
    width: 100%;
    text-align: center;
    transition: 0.25s;
    height: 100%;
  }
  nav ul li {
    padding: 3px 0;
  }
  nav ul li a {
    color: white;
  }
  nav.active ul {
    right: 0;
  }
  nav.active ul li a {
    color: white;
  }
}/*# sourceMappingURL=main.css.map */